.board {
	padding: 1rem;
	margin: 1.5rem auto; /** centered */
	border-radius: 12px;
	box-shadow: 0 0 8px 3px #beb9b9;
	width: calc(100vh * 0.9);
	height: calc(100vh * 0.85);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	background-color: burlywood;
}
