.content h1,
.content p {
	font-size: 32px;
	color: rgb(56, 55, 55);
	line-height: 12px;
	padding: 1rem;
}

.content p {
	font-size: 24px;
}

.img {
	width: 400px;
	height: 400px;
}
.content mark {
	text-decoration: underline;
	text-transform: capitalize;
}

.content button {
	padding: 1.3rem 2.75rem;
	text-transform: uppercase;
	color: #fff;
	background-image: linear-gradient(135deg, #8a1fa1 0%, #320995 100%);
	border: none;
	box-shadow: 0 0 20px 10px #d8d6d6;
	border-radius: 3.5rem;
	outline: none;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Turret Road', cursive;
}
